* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4f74ef;
}

header,
h3 {
    background-color: #4f74ef;
    color: #aa3836;
    font-size: 30px;
    line-height: 30px;
    padding-top: 10px;
    text-align: center;
}

header h3 a {
    color: #aa3836;
    text-decoration: none;
}

nav ul {
    /* Nav container color */
    background: #4f74ef;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}


/* Nav text when normal */

nav ul li a {
    color: white;
    font-size: 15px;
    line-height: 60px;
    text-decoration: none;
    /* Nav text transition from normal to hoover (see below) mode */
    transition: .5s;
}


/* Nav text when in hover mode */

nav ul li a:hover {
    color: #1F3446;
}


/* This styles main content
================================ */

.main-content {
    background-attachment: scroll;
    background-color: #4f74ef;
    background-image: url(../images/Little%20Red%20Lighthouse%2004%202012.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin: 0px;
    width: 100%;
}


/*ABOUT page*/

.about-content {
    background-attachment: scroll;
    background-image: url(../images/Little%20Red%20lighthouse%202%2004%202012.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}

.about-content h2 {
    background-color: white;
    color: #aa3836;
    opacity: .7;
    padding: 15px;
    text-align: center;
}

.about-content p {
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    opacity: .7;
    width: 100%;
}


/*LOCATION page*/

.map {
    height: auto;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #4f74ef;
    bottom: 0;
    color: black;
    font-size: 17px;
    left: 0;
    height: 70px;
    padding-top:20px;
    position: fixed;
    text-align: center;
    width: 100%;
}
